.testing_body
  // font-size: 18
  // font-weight: bold

.testing_text
  margin-top: 15px
  font-size: 18px
  font-weight: bold

.apply_button
  width: 150px
  height: 40px
  color: white
  cursor: pointer
  border: solid
  border-radius: 5px
  background-color: #b92a35
  &:hover
    background-color: #a0000d

.checkbox
  width: 15px
  height: 15px
  border: 1px solid
  border-radius: 50%
  vertical-align: middle
  // border-radius: 8px
  appearance: none
  cursor: pointer
  background-color: white

.checkbox:checked
  background-color: #b92a35

.checkbox_text
  font-size: 14px

.checkbox_container
  margin-top: 14px
